@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    background: #000010;
}

* {
    margin: 0;
    padding: 0;
}