.video__wrapper {
    margin-top: 50px;
    margin-bottom: 75px;

    height: 80vh;
    width: 99vw;
    /*background: midnightblue;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.video__stream {
    object-fit: cover;
    /*background: rgba(4,11,82,0.2);*/
    width: 650px;
    height: 495px;
    margin: 5px;
    /*margin: 0px;*/

    position:relative;
    text-align: center;
}

.video__container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position:relative;
}

.video__wrapper__tag {
    width: 640px;
    height: 360px;
    background: aliceblue;
}

.video__stream h4 {
    /*background: lightblue;*/

    margin-top: -3px;
    /*font-family: 'Marcellus', serif;*/
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #e9d2ce;
    text-align: center;

}

/*.overlay {*/

/*    position:absolute;*/
/*    bottom:0;*/
/*    left: 45%;*/
/*    z-index:1;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.overlay__wrapper {
    /*background: darkred;*/
    /*background: rgba(4,11,82,0.7);*/
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1000px) {

    /*Like for iPad*/

    .video__wrapper {
        margin-top: 70px;
        margin-bottom: 75px;

        height: 80vh;
        width: 99vw;
        /*background: midnightblue;*/

        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .video__stream {
        background: rgba(4,11,82,0.1);
        width: 100%;
        height: 390px;
        padding-bottom: 30px;

        position:relative;
        text-align: center;
    }

}

@media only screen
and (min-device-width: 1001px)
and (max-device-width: 1025px) {

    /*Like for iPad Pro*/

    .video__stream {
        /*background: rgba(4,11,82,1);*/
        /*object-fit: cover;*/
    }

    .video__stream h4 {
        /*background: lightblue;*/

        margin-top: -32px;
        /*font-family: 'Marcellus', serif;*/
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        font-size: 20px;
        color: #e9d2ce;
        text-align: center;

    }


}

@media screen and (max-width: 760px) {

    .video__wrapper {
        margin-top: 20px;
        margin-bottom: 75px;

        height: 90vh;
        width: 99vw;

        /*background: #ae2578;*/

        display: block;
        justify-content: center;
        align-items: center;
    }

    .video__stream {

        margin: 0 auto;
        /*padding: 0;*/


        /*background: rgb(67, 188, 41);*/
        /*margin: 0px;*/
        width: 100%;
        /*height: 280px;*/
        /*width: 98vw;*/
        height: 45vh;
        /*padding-bottom: 0px;*/
        padding-bottom: 30px;


        object-fit: cover;
        position:relative;
        text-align: center;
        z-index: 100;
    }

    .video__container {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        /*position:relative;*/
        z-index: 100;

        max-width: 400px;
        min-width: 375px;
    }

    .video__stream h4 {
        /*background: lightblue;*/
        margin-top: -3px;

        /*margin-top: -15px;*/
        /*font-family: 'Marcellus', serif;*/
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        font-size: 15px;
        color: rgba(233,210,206,1);
        text-align: center;
        z-index: 200;

    }

    .overlay__wrapper {
        /*background: rgba(4,11,82,1);*/
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

    }
}